#nav {
    margin-top: 18px;
    font-size: 0.65em;
}
#nav ul {
    width: 100%;
    padding: 0;
    margin: 0;        
}
#nav ul li {
    float: right;
    display: inline;
    margin: 0;
}
#nav ul li a {
    display: block;
    position: relative;
    padding: 0.2em 1em;
    background-color: #616C80;
    font-size: 1.3em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    border-right: 0.1em solid #fff;
}
#nav ul li a:hover {
    color: #ccffff;
    text-decoration: none;
}
#nav ul li.current a {
    color: #154c73;
    background-color: #efefef;
}
#nav ul li.current a:visited {
    color: #006699;
}
/* hide the sublevels */
#nav ul ul {
    display: none;
}
#nav ul li.current ul {
    position: absolute;
    left: 0;
    display: block;
    /* use max-width emulation hack from
     * http://www.svendtofte.com/code/max_width_in_ie/, using the IE5.0+ dynamic
     * properties syntax, see
     * http://msdn.microsoft.com/workshop/author/dhtml/overview/recalc.asp */
    _width: expression(document.body.clientWidth);
    padding: 0;
    background-color: #e5f1ff;
}
#nav ul li.current li {
    padding: 0.4em 0;
}
#nav ul li.current li a {
    /* hide first pipe */
    left: -0.1em;
    padding: 0 1em;
    font-weight: normal;
    font-size: 1.1em;
    color: #006699;
    border-right: none;
    border-left: 0.1em solid #006699;
}
/* hide 3rd or more levels */
#nav ul ul ul li {
    display: none;
}